<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/atv.css">
    <title>ATV Road</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
    <div class="master3" style="background-image: url('/static/image/atv5.jpg');">
        <div class="container">
            <h1 class="text-center fw-bold"><a href="/dashboard" class="text-dark">ATV Road </a> </h1>
            <div class="logo2 float-end">
                <img src="/static/image/off_road.jpg" alt="off_road_image">
            </div>
            <div>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages%}
                            <p style="color: rgb(224, 5, 49);">{{ message }}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <form action="/atv/create" method="post">
                    <div class="mb-2">
                        <p>Origin:</p>
                        <input type="text" name="origin">
                    </div>
                    <div class="mb-2 ">
                        <p>Destination:</p>
                        <input type="text" name="destination">
                    </div>
                    <div class="mb-2" >
                        <p>Date:</p>
                        <input type="date" id="date" name="date">
                    </div>
                    <button class="btn btn-dark">Submit</button>
                </form><br>
            </div>        
            <a href="/dashboard" class="btn btn-dark">Home</a>
            <div class="float-end">
                <iframe width="700" height="320"   
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDzu4VxqlCdbk5RrSbSO9GPyrktJXn3OmQ&q=off+road+trails+in+Washington" 
                allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <!-- <script src="https://www.google.com/maps/api/js?key=AIzaSyDzu4VxqlCdbk5RrSbSO9GPyrktJXn3OmQ&q=off+road+trails+in+Washington"
            async></script>
    <script src="/flask_app/static/maps.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>