*{
    margin: 0px;
    padding: 0px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}
h1{
    text-align: center;
    padding: 30px;
    margin: 20px;
}
.master3{
    background-size: cover;
    min-height: 110vh;
}
.logo2 img{
    width: 250px;
    height:250;
    border-radius: 50%;
    padding: 30px;
}
.img{
    width: 650px;
    height:250px;
    
}
#maps{
    width: 400px;
    height: 400px;
}